.page-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 100vh;
    gap: 35px;
    margin-top: 150px;
}
.container-1 {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 40px;
}
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 75px;
}

.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 50px;
}